altair==5.5.0
dotenv==0.9.9
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-auth==2.38.0
google-genai==1.2.0
google-generativeai==0.8.4
ipykernel==6.29.5
jupyter==1.1.1
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.39
langchain-google-genai==2.0.10
matplotlib==3.10.0
oauthlib==3.2.2
pandas==2.2.3
psycopg2==2.9.10
pydantic==2.10.6
python-dotenv==1.0.1
pyzmq==26.2.1
SQLAlchemy==2.0.38
streamlit==1.42.1
StrEnum==0.4.15